@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --light-green: #04fc43;
    --light-yellow: #fee800;
    --light-purple: #ff00be;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    color: #eee;
    min-height: 100vh;
    background-color: #222;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 150px;
    width: 100%;

}

.title h1 {
    font-size: 60px;
    font-weight: 700;
}

.title h1 .carbon {
    padding: 0 20px;
    border-radius: 100px;
    animation: colors 3s linear infinite;
}

@keyframes colors {
    0% {
        color: var(--light-green);
        box-shadow: 0 0 20px var(--light-green), 0 0 60px var(--light-green);    
    }
    50% {
        color: var(--light-purple); 
        box-shadow: 0 0 20px var(--light-purple), 0 0 60px var(--light-purple);       
    
    }
    100% {
        color: var(--light-yellow);  
        box-shadow: 0 0 20px var(--light-yellow), 0 0 60px var(--light-yellow);
    }
}

.main {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.main .left {
    margin: 0 20px 0;
    padding: 50px 0 0;
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

.main .left ul li .list-data {
    font-weight: 500;
    font-style: italic;
}

.main .left ul li {
    list-style: none;
}

.main .right {
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .right .atom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0;
    width: 500px;
    /* min-width: auto; */
    height: 500px;
    background-color: #2a2a2a;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 1)
}

.main .right .atom .nucleus{
    position: relative;
    /* background-color: #222; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: nucleus-rotate 5s linear infinite;

}

.main .right .atom .nucleus .neu{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* background-color: blue; */
    /* box-shadow: 0 0 20px blue, 0 0 60px blue; */
}

.main .right .atom .nucleus .n1 {
    top: 30%;
    left: 60%;
    animation: alternate1 5s infinite;
}
.main .right .atom .nucleus .n2 {
    top: 25%;
    left: 27%;
    animation: alternate1 5s infinite;

}
.main .right .atom .nucleus .n3 {
    top: 40%;
    left: 40%;
    animation: alternate2 5s infinite;

}
.main .right .atom .nucleus .n4 {
    top: 60%;
    left: 40%;
    animation: alternate2 5s infinite;

}
.main .right .atom .nucleus .n5 {
    top: 50%;
    left: 60%;
    animation: alternate2 5s infinite;

}
.main .right .atom .nucleus .n6 {
    top: 50%;
    left: 20%;
    animation: alternate1 5s infinite;

}

@keyframes alternate1 {
    0% {
        background-color: blue;
        box-shadow: 0 0 20px blue, 0 0 60px blue;
    }
    25% {
        background-color: red;
        box-shadow: 0 0 20px red, 0 0 60px red;
    }
    50% {
        background-color: blue;
        box-shadow: 0 0 20px blue, 0 0 60px blue;
    }
    75% {
        background-color: red;
        box-shadow: 0 0 20px red, 0 0 60px red;
    }
    100% {
        background-color: blue;
        box-shadow: 0 0 20px blue, 0 0 60px blue;
    }
}

@keyframes alternate2 {
    0% {
        background-color: red;
        box-shadow: 0 0 20px red, 0 0 60px red;
    }
    25% {
        background-color: blue;
        box-shadow: 0 0 20px blue, 0 0 60px blue;
    }
    50% {
        background-color: red;
        box-shadow: 0 0 20px red, 0 0 60px red;
    }
    75% {
        background-color: blue;
        box-shadow: 0 0 20px blue, 0 0 60px blue;
    }
    100% {
        background-color: red;
        box-shadow: 0 0 20px red, 0 0 60px red;
    }
}

@keyframes nucleus-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.s1 {
    position: absolute;
    /* top: -50%;
    left: 0; */
    height: 200px;
    width: 200px;

    animation: shell-rotate-X 0.5s linear infinite;

}

.shell1 {
    position: absolute;
    height: 200px;
    width: 200px;
    /* border: 1px solid black; */
    border-radius: 50%;

    animation: shell-rotate-clockwise 1s linear infinite;
}

.shell1::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--light-yellow);
    box-shadow: 0 0 20px var(--light-yellow), 0 0 60px var(--light-yellow);
    border-radius: 50%;
}

.shell1::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--light-yellow);
    box-shadow: 0 0 20px var(--light-yellow), 0 0 60px var(--light-yellow);
    border-radius: 50%;
}

.s2 {
    position: absolute;
    /* top: -50%;
    left: 0; */
    height: 400px;
    width: 400px;

    /* animation: shell-rotate-Y 5s linear infinite; */

}

.shell2 {
    position: absolute;
    height: 400px;
    width: 400px;
    /* border: 1px solid black; */
    border-radius: 50%;

    animation: shell-rotate-anticlockwise 1s linear infinite;
}

.shell2::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--light-yellow);
    box-shadow: 0 0 20px var(--light-yellow), 0 0 60px var(--light-yellow);
    border-radius: 50%;
}

.shell2::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--light-yellow);
    box-shadow: 0 0 20px var(--light-yellow), 0 0 60px var(--light-yellow);
    border-radius: 50%;
}

.s3 {
    transform: rotate(120deg);

    animation: shell-rotate-Y 1s linear infinite;

}

@keyframes shell-rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shell-rotate-anticlockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shell-rotate-X {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes shell-rotate-Y {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@media (max-width: 1000px) {
    .main {
        flex-flow: column nowrap;
    }
    .main .left {
        width: 100%;
        margin: 0 20px 20px;
        padding: 50px 0 0;
    }

    .main .right {
        margin-bottom: 50px;
    }

    .atom {
        height: auto;
        width: 400px;
    }
}

@media (max-width: 426px) {
    .title h1 {
        font-size: 40px;
        font-weight: 700;
    }
}



















